.form-table th,
.form-table td {
    padding: 5px 5px;
}

hr {
    margin: 20px 50px 15px;
    border-top: 1px solid #999;
    border-bottom: none;
}

form label[for] {
    display: inline-block;
    margin-bottom: 5px;
    text-align: justify;
}

.tab-view ul.tab-header {
    display: flex;
    width: fit-content;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}

.tab-view ul.tab-header li {
    margin: 0;
    display: inline-block;
    text-align: center;
    padding: 5px 20px;
    background-color: #fff;
}

.tab-view ul.tab-header li.active {
    background-color: #e5e5e5;
}

.tab-view .tab-body {
    overflow: hidden;
    border-radius: 5px 0px 5px 5px;
}

.tab-view .tab-page {
    position: relative;
    background-color: #e5e5e5;
    transition: opacity 0.5s;
    opacity: 0;
    display: none;
}

.tab-view .tab-page.active {
    display: block;
    opacity: 1;
}

.text-center { text-align: center; }
.bold { font-weight: bold; }

.tab-body {
    background-color: #e5e5e5;
}

.grid .col-12 {
    padding: 0;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid>.row:nth-child(even) {
    background-color: #eee;
}

.ltr { direction: ltr; }
.rtl { direction: rtl; }
.grid .row { align-items: center; }
.p-relative { position: relative; }
.p-absolute { position: absolute; }
.d-block { display: block; }
.d-inline { display: block; }
.d-inline-block { display: inline-block; }
.d-flex { display: flex; }
.mb-1 { margin-bottom: 1px; }
.mb-2 { margin-bottom: 2px; }
.mb-3 { margin-bottom: 3px; }
.mb-4 { margin-bottom: 4px; }
.mb-5 { margin-bottom: 5px; }

#settings {
    padding: 15px;
}

#sms-contact-list a {
    text-decoration: none;
    color: #000;
}

#sms-contact-list a:link,
#sms-contact-list a:visited {
    text-decoration: none;
    color: #0088ff;
}

#sms-contact-list input#clearAll {
    width: 85px;
    height: 30px;
    border: none;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    background-color: #f55;
    box-shadow: #00000030 0px 1px 4px;
    transition: box-shadow 0.5s;
}

#sms-contact-list input#clearAll:hover {
    box-shadow: #00000080 0px 1px 8px
}

#sms-contact-list button { border: none; cursor: pointer; padding: 0; background-color: transparent; }
#sms-contact-list button::after {
    opacity: 0.8;
    content: url(../icons/trash-bin.svg);
}
#sms-contact-list button:hover::after { opacity: 1.0; }
#sms-contact-list button.loading::after {
    content: url(../icons/loading.svg);
}

#sms-contact-list .head-row code {
    padding: 2px; background-color: #ddd; cursor: pointer; border-radius: 3px;
}
#sms-contact-list .head-row code:hover { background-color: #ccc; }
#sms-contact-list .head-row code + i { opacity: 0; }
#sms-contact-list .head-row code.active + i {
    animation: copy-anim 2s forwards;
}
@keyframes copy-anim {
    0% { opacity: 0; }
    25% { opacity: 1; transform: scale(1.2) translateY(-5px); }
    88% { opacity: 1; transform: scale(1.2) translateY(-5px); }
    100% { opacity: 0; }
}
/* general section */
img#logoPreview {
    width: 60px;
    height: 60px;
    outline: 1px solid #08f5;
    border-radius: 5px;
}

img#logoPreview:hover {
    outline-color: #08f;
}

/* contact form */
img#formBackPreview {
    width: auto;
    height: 80px;
    max-width: 80px;
    object-fit: cover;
    outline: 1px solid #08f5;
    border-radius: 5px;
    transition: max-width 2s;
}

img#formBackPreview:hover {
    outline-color: #08f;
    max-width: 300px;
}

img#formBackPreview:active {
    background-color: #08f1;
}

/* sticky button */
.st-box, textarea.large-text {
    background-color: #c9ced4;
    color: #2f2f2f;
}

textarea.large-text {
    border: none;
    border-radius: 5px 0 5px 5px;
}

.st-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5px;
    width: 175px;
    height: 75px;
    border-radius: 5px 5px 0 0;
}
.st-box label { display: block; margin-bottom: 3px;}
.st-box .st-color:focus,
.st-box .st-color {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.fi { display: inline-block; width: 20px; height: 20px; vertical-align: middle; }
.fi.big { width: 24px; height: 24px; }
.fi.small { width: 16px; height: 16px; }

.fi.api:after { content: url(../icons/api.svg); }
.fi.sms:after { content: url(../icons/sms.svg); }
.fi.bell:after { content: url(../icons/bell.svg); }
.fi.city:after { content: url(../icons/city.svg); }
.fi.copy:after { content: url(../icons/copy.svg); }
.fi.call:after { content: url(../icons/phone.svg); }
.fi.home:after { content: url(../icons/home.svg); }
.fi.photo:after { content: url(../icons/photo.svg); }
.fi.whatsapp:after { content: url(../icons/whatsapp.svg); }
.fi.instagram:after { content: url(../icons/instagram.svg); }
.fi.handshake:after { content: url(../icons/handshake.svg); }
.fi.account-edit:after { content: url(../icons/account-edit.svg); }
.fi.card-account-mai:after { content: url(../icons/card-account-mai.svg); }
.fi.card-account-mail:after { content: url(../icons/card-account-mail.svg); }
.fi.gesture-tap-button:after { content: url(../icons/gesture-tap-button.svg); }
.fi.message-processing:after { content: url(../icons/message-processing.svg); }
.fi.form-textbox-password:after { content: url(../icons/form-textbox-password.svg); }
.fi.account-clock-outline:after { content: url(../icons/account-clock-outline.svg); }
.fi.archive-check-outline:after { content: url(../icons/archive-check-outline.svg); }

input[type='number'] {
    width: 70px;
    text-align: center;
    border: none;
    border-radius: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../icons/double-arrow.svg);
    transition: width 0.5s;
}

input[type='number']:focus {
    box-shadow: none;
    outline: none;
    border-color: #08f;
}

input[type='number'] {
    border-color: #08f;
    border-style: solid;
    border-width: 0 2px;
}

input[type='number'].disable {
    width: 50px;
    background-image: none;
    color: #0005;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}