#smr-sticky-button {
    position: fixed;
    bottom: 35px;
    font-family: vazir;
    direction: rtl;
    z-index: 999;

    --btn-right: auto;
    --btn-left: auto;

    left: var(--btn-left);
    right: var(--btn-right);
}

#smr-sticky-button.right { --btn-right: 35px; }
#smr-sticky-button.left { --btn-left: 35px; }

#smr-sticky-button #handbell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; height: 50px;
    background-color: #ff2d49;
    border-radius: 50%;
}

#smr-sticky-button #handbell i {
    animation: shake-anim 3s infinite ;
    transform-origin: 50% 0 ;
}

@keyframes shake-anim {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(25deg); }
    20% { transform: rotate(-25deg); }
    25% { transform: rotate(25deg); }
    30% { transform: rotate(-25deg); }
    34% { transform: rotate(25deg); }
    38% { transform: rotate(-25deg); }
    42% { transform: rotate(25deg); }
    45% { transform: rotate(-25deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

#smr-sticky-button .sticky-option {
    position: relative;
    display: flex;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    height: 0px;

    transition-property: visibility, opacity, height, margin-bottom;
    transition-duration: 0.5s;
}

#smr-sticky-button .sticky-option.pinned,
#smr-sticky-button .sticky-option.active {
    visibility: visible;
    opacity: 1;
    height: 50px;
    margin-bottom: 10px;
}

#smr-sticky-button .ico {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: #ff2d49;
    color: aliceblue;
    width: 50px; height: 50px;
    border-radius: 50%;
    right: 0px;

    overflow: visible;
    box-shadow: 3px 3px 25px #00000060;
}

#smr-sticky-button .ico::after {
    position: absolute;
    width: 45px; height: 45px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    content: '';
    opacity: 0%;
    transition-property: width, height, opacity;
    transition-duration: 0.5s;
}

#smr-sticky-button .sticky-option:hover .ico::after {
    width: 35px; height: 35px;
    opacity: 35%;
}
#smr-sticky-button .sticky-option span {
    position: absolute;
    text-align: justify;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    width: 350px;
    bottom: -5px;
    padding: 20px;
    border-radius: 5px;
    background-color: #0005;
    color: #ffffff;
    transition-duration: 0.3s;
    transition-property: bottom, visibility ,opacity;
}
#smr-sticky-button.right .sticky-option span {right: calc(100% + 15px);}
#smr-sticky-button.left .sticky-option span {left: calc(100% + 15px);}

#smr-sticky-button div:hover span{
    visibility: visible;
    bottom: 0px;
    opacity: 1;
}

/* for sticky button message */
#smr-sticky-button span ul,
#smr-sticky-button span li,
#smr-sticky-button span h1,
#smr-sticky-button span h2,
#smr-sticky-button span h3,
#smr-sticky-button span h4,
#smr-sticky-button span h5,
#smr-sticky-button span h6 {
    margin: 0;
}


#smr-sticky-button .sticky-option > a {
    position: absolute;
    width: 100%;
    height: 100%;
}

#smr-sticky-button .sticky-option > a.desktop,
#smr-sticky-button .sticky-option > a.mobile,
#smr-sticky-button .sticky-option > a.tablet {
    display: none;
}

#smr-sticky-button span a {
    text-decoration: none;
    text-align: unset;
    color: #ff2d49;
    padding: 0 5px;
    font-size: 0.9em;
    border-radius: 3px;
    background-color: #fff;
}

#smr-sticky-button span a:hover { background-color: #eee; }

@media screen and (max-width: 1024px) {
    #smr-sticky-button #handbell { width: 45px; height: 45px; }
    #smr-sticky-button .ico { width: 45px; height: 45px; }
    #smr-sticky-button.right { right: calc(var(--btn-right) * 0.75); bottom: 15px; }
    #smr-sticky-button.left { left: calc(var(--btn-left) * 0.75); bottom: 15px; }
}

@media only screen and (max-width: 480px) {
    #smr-sticky-button.left .sticky-option span { width: calc(90vw - var(--btn-left)); }
    #smr-sticky-button.right .sticky-option span { width: calc(90vw - var(--btn-right)); }
}

/* platform independet sizes */
@media screen and (max-width: 768px) { #smr-sticky-button .sticky-option > a.mobile { display: block; } }
@media screen and (min-width: 768px) and (max-width: 1024px) { #smr-sticky-button .sticky-option > a.tablet { display: block; } }
@media screen and (min-width: 1024px) { #smr-sticky-button .sticky-option > a.desktop { display: block; } }

i.fi {
    width: 17px;
    height: 17px;
    display: block;
}

i.fi.instagram:after { content: url(../icons/instagram.svg); }
i.fi.whatsapp:after { content: url(../icons/whatsapp.svg); }
i.fi.call:after { content: url(../icons/phone.svg); }
i.fi.bell:after { content: url(../icons/bell.svg); }